name: Build Docker Image CI
on:
  push:
    tags: [v*] # Trigger only on tag pushes (e.g., v1.0.0, v2.3.1)
  workflow_dispatch: # Allows manual runs

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract version from tag
        id: extract_version
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -E 's/^refs\/tags\/(.*)$/\1/')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build and push multi-platform image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKER_USER }}/kishop:latest
            ${{ secrets.DOCKER_USER }}/kishop:${{ steps.extract_version.outputs.version }}
          outputs: type=image,name=target,annotation-index.created=${{ github.event.head_commit.timestamp }}

      - name: Update Docker Hub repository description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
          repository: ${{ secrets.DOCKER_USER }}/kishop
          readme-filepath: README.md
